<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientKey</key>
	<string>7f32a79b176298db2f2f</string>
	<key>secretKey</key>
	<string>44930e822d299cf812b25f6cfe56273b8ce8aad6</string>
</dict>
</plist>
